.container {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

@media (max-width: 640px) {
  .container {
    padding: 15px 20px;
    font-size: 14px;
  }
}
