.container {
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.img {
  object-fit: cover;
  filter: grayscale(100%);
}

.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #53c28b;
  padding: 5px;
  color: white;
}

.textContainer {
  display: flex;
  gap: 100px;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

@media (max-width: 968px) {
  .imgContainer {
    height: 250px;
  }

  .textContainer {
    flex-direction: column;
    gap: 40px;
  }

  .item {
    margin-top: 30px;
    gap: 20px;
  }

  .desc {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .imgContainer {
    height: 200px;
  }

  .imgText {
    font-size: 14px;
    padding: 5px 10px;
  }

  .textContainer {
    gap: 30px;
  }

  .item {
    margin-top: 20px;
    gap: 15px;
  }

  .desc {
    font-size: 14px;
  }
}
