.mainTitle {
  font-size: 100px;
}

.container {
}

.selectTitle {
  margin: 20px 0px;
}

.items {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/illustration.png");
}
.item:nth-child(2) {
  background: url("/websites.jpg");
}
.item:nth-child(3) {
  background: url("/apps.jpg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.item:hover .title {
  color: #53c28b;
}

@media (max-width: 968px) {
  .mainTitle {
    font-size: 60px;
  }

  .items {
    gap: 30px;
    justify-content: center;
  }

  .item {
    width: 280px;
    height: 350px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .mainTitle {
    font-size: 40px;
  }

  .items {
    gap: 20px;
  }

  .item {
    width: 100%;
    height: 300px;
  }

  .title {
    font-size: 28px;
  }
}
