.container {
}

.top {
  display: flex;
  gap: 30px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 40px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.imageContainer {
  flex: 1;
  height: 300px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
  text-align: justify;
}

@media (max-width: 968px) {
  .top {
    flex-direction: column;
    gap: 20px;
  }

  .imageContainer {
    height: 250px;
    width: 100%;
  }

  .title {
    font-size: 32px;
  }

  .desc {
    font-size: 16px;
  }

  .content {
    margin-top: 30px;
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .imageContainer {
    height: 200px;
  }

  .title {
    font-size: 24px;
  }

  .desc {
    font-size: 14px;
  }

  .content {
    margin-top: 20px;
    font-size: 16px;
  }
}
