.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}


.desc {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .item {
    gap: 30px;
  }

  .title {
    font-size: 48px;
  }

  .img {
    height: 350px;
  }

  .desc {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .container {
    gap: 30px;
  }

  .item {
    gap: 20px;
  }

  .title {
    font-size: 36px;
  }

  .img {
    height: 250px;
  }

  .desc {
    font-size: 16px;
  }
}

