.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input{
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  color:#bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

@media (max-width: 640px) {
  .container {
    padding: 20px;
  }

  .form {
    width: 100%;
    max-width: 300px;
  }

  .input {
    padding: 15px;
    font-size: 16px;
  }

  .button {
    width: 100%;
    padding: 15px;
  }
}