.container {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
  gap: 20px;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: relative;
  flex-shrink: 0;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .post {
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0px;
  }

  .imgContainer {
    width: 100%;
    height: 150px;
  }

  .input,
  .textArea {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .container {
    gap: 30px;
  }

  .post {
    margin: 20px 0px;
  }

  .imgContainer {
    height: 120px;
  }

  .input,
  .textArea {
    padding: 8px;
    font-size: 16px;
  }

  .button {
    padding: 15px;
  }
}