.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.imageContainer {
  flex-shrink: 0;
}

.image{
  object-fit: cover;
}

.content {
  flex: 1;
}

.title{
  margin-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #999;
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  .imageContainer {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .desc {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .container {
    gap: 20px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 20px;
  }

  .desc {
    font-size: 14px;
  }
}